[submodule "third_party/device-management"]
	path = third_party/device-management
	url = https://github.com/apple/device-management
	branch = seed_OS_27_0
[submodule "third_party/device-management-history"]
	path = third_party/device-management-history
	url = https://github.com/apple/device-management.git
	branch = release
